.footerSubscribeContainer {
  display: grid;
  margin-top: 5rem;
  justify-content: center;
  text-align: center;
}

.footerSubscribeContainer p {
  font-size: 0.9rem;
  margin: 0.4rem 0 1rem 0;
}

.footerSubscribeContainer button {
  color: #fff;
  background-color: #00f;
  border-color: #00f;
  width: 7rem;
  height: 3rem;
  margin: 0 auto;
}

.footerSubscribeContainer button i {
  margin-right: 0.3rem;
}

.footerDivider {
  background-color: #0000a4;
  padding: 2rem 0;
  margin: 2rem 0;
}

.footerDividerContent {
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  max-width: 76rem;
  margin: 0 auto;
}

.footerDividerContent > div {
  width: 33.33%;
}

.footerDividerContent h5 {
  font-size: 1rem;
  margin: 0 0 0.2rem 0;
}
.footerDividerContent span {
  font-size: 0.85rem;
}

.footerDividerContent a {
  color: #fff;
  font-weight: 300;
  font-size: 0.85rem;
  text-decoration: underline;
}

.footerDividerContent > div:not(:first-child) {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.footerDividerContent > div > i {
  margin-right: 1rem;
  font-size: 3rem;
}

.footerService {
  display: grid;
  max-width: 76rem;
  margin: 0 auto 4rem auto;
  grid-template-columns: 25% 25% 25% 25%;
}

.footerService ul {
  padding: 0;
  list-style: none;
}

.footerService ul li {
  font-size: 0.875em;
  line-height: 1.5;
}

.footerService a {
  color: #0a0a0a;
  text-decoration: none;
}
.footerService ul li:first-child {
  font-weight: 900;
}
.footerService p:first-child {
  font-weight: 900;
}

.footerService p {
  font-size: 0.875em;
}

.footerService p a {
  color: #0000a4;
}

.socialMediaIcons {
  display: flex;
}

.socialMediaIcons i {
  margin-right: 1rem;
  font-size: 1.3rem;
  color: #0000a4;
}

hr {
  max-width: 76rem;
}

.footerImages {
  display: flex;
  justify-content: flex-end;
  max-width: 76rem;
  margin: 1rem auto 4rem auto;
}
.footerImages img {
  height: 2rem;
  width: auto;
}

.bolSlogan {
  width: auto;
  height: 5rem;
  margin: 0 auto 5rem auto;
  display: block;
}
